@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,
body {
	margin: 0;
	height: 100%;
}

header {
	background-color: #19171c;
	height: 60px;
}

#menu {
	float: left;
	padding-top: 10px;
	padding-left: 10px;
}

#main {
	height: 100%;
	width: 100%;
}

.bar1,
.bar2,
.bar3 {
	width: 30px;
	height: 3px;
	background-color: #38aa82;
	margin: 7px 0;
}

#menu:hover {
	cursor: pointer;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 60px;
	left: 0;
	background-color: #19171c;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
	font-family: 'Open Sans', sans-serif;
	color: #38aa82;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#logo {
	padding-top: 12px;
	float: left;
	width: 70px;
}

#logo img {
	float: left;
	margin-top: -5px;
	padding-left: 5px;
	width: 45px;
	height: 45px;
}

#logo h1 {
	padding-left: 10px;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: 100;
	color: #38aa82;
	float: left;
}

.headerIcons {
	margin-top: 15px;
	float: right;
	width: 50px;
}

.headerIcon {
	text-align: center;
	float: right;
	padding-right: 10px;
	/*width: 33.3%;*/
}

.headerIcon i {
	color: #38aa82;
	font-size: 25px;
}

#overlay {
	position: absolute;
	top: 10px;
	background-color: #19171c;
	width: 200px;
	border-radius: 10px;
	right: 10px;
	padding-bottom: 20px;
}

#overlay p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 100;
	color: #38aa82;
}

#nameOfDesign {
	display: none;
	margin-top: 20px;
}

.btn {
	display: block;
	margin: auto;
	margin-top: 20px;
	background-color: #38aa82;
	width: 150px;
	border: 0;
	border-radius: 5px;
	text-align: center;
	font-size: 10px !important;
	color: white !important;
	font-family: 'Open Sans', sans-serif;
	padding: 5px;
}

.btn p {
	text-align: center;
}

.btn:hover {
	cursor: pointer;
	border: 1px solid white;
}

#jscolor {
	border: 0;
}

.product {
	display: inline-block;
	width: 33.33%;
}

.productImage {
	margin: auto;
	height: auto;
	display: block;
	padding-bottom: 10px;
}

.productTitle {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #19171c;
	text-align: center;
}

.ArBtn {
	width: 50%;
	text-decoration: none !important;
	background-color: #19171c;
	color: #38aa82;
	height: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 100;
	border-radius: 5px;
	text-align: center;
	padding-top: 6px;
	display: block;
	margin: 0 auto;
}

.ArBtn:hover {
	cursor: pointer;
	background-color: #38aa82;
	color: #19171c;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

.fontSize {
	background-color: #38aa82;
	color: white !important;
	width: 40px;
	text-align: center;
	padding: 5px;
	display: inline-block;
}

.fontSize:hover {
	cursor: pointer;
}

#accountForm {
	position: absolute;
	vertical-align: middle;
	top: 30%;
	left: 35%;
	width: 30%;
	z-index: 50;
	height: auto;
	padding-bottom: 10px;
	background-color: #19171c;
	border: 5px solid #38aa82;
}

#closeForm {
	float: right;
	width: 20px;
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	background-color: #38aa82;
	margin: 0;
}

#closeForm:hover {
	cursor: pointer;
}

#accountForm h3 {
	font-family: 'Open Sans', sans-serif;
	color: #38aa82;
	padding: 0;
	margin-top: 10px;
	display: inline-block;
	text-align: center;
	width: 45%;
}

#accountForm h3:hover {
	cursor: pointer;
}

#registerInputs {
	margin: auto;
	width: 50%;
}

.registerInput,
.loginInput {
	margin-top: 10%;
	width: 100%;
	height: 20px;
	padding: 5px;
	border-radius: 5px;
}

#loginInputs {
	display: none;
	margin: auto;
	width: 50%;
}

.loginError {
	font-family: 'Open Sans', sans-serif;
	color: red;
	font-size: 10px;
}

#loginMessage {
	padding-top: 17px;
	float: right;
	font-family: 'Open Sans', sans-serif;
	color: #38aa82;
	font-size: 15px;
}

#accountIcon:hover {
	cursor: pointer;
}

#arjsDebugUIContainer {
	display: none !important;
}

/* #personaliseForm {
	display: none;
	width: 90%;
	margin: auto;
} */

#personaliseNow {
	width: 60%;
	margin-left: 60px;
}

#personaliseTxt {
	margin-top: 20px;
}

/*New Overlay*/
#overlay2 {
	position: absolute;
	width: 80px;
	height: 80%;
	top: 20%;
	left: 0;
}

#overlayToggle {
	position: absolute;
	width: 30px;
	height: 50px;
	background-color: #38aa82;
	border-radius: 0px 10px 10px 0px;
	color: white;
	left: 80px;
	font-size: 45px;
	padding-left: 5px;
	padding-top: 5px;
	top: 47%;
}

#iconBar {
	background-color: #38aa82;
	margin: auto;
	height: auto;
	border-radius: 0px 10px 10px 0px;
}
#modelColourMenu,
#presetMenu,
#personalTextMenu,
#saveDesignMenu {
	display: none;
	position: absolute;
	top: 0px;
	width: 30%;
	height: auto;
	background-color: #38aa82;
	margin: auto;
	padding: 10px;
	left: 30%;
	border-radius: 0px 0px 10px 10px;
}

#modelColourMenu input,
#personalTextMenu input,
#saveDesignMenu input,
#personalTextMenu select,
#presetMenu select {
	border-radius: 10px;
	width: 70%;
	padding: 10px;
	text-align: center;
	margin: auto;
	display: block;
}

select#canvasPresets {
	margin-top: 10px;
}

#modelColourMenu p,
#personalTextMenu p,
#presetMenu p,
#saveDesignMenu p {
	font-family: 'Open Sans', sans-serif;
	color: white;
	text-align: center;
}

button#saveDesign {
	background-color: #38aa82;
	color: white;
	display: block;
	margin: auto;
	margin-top: 20px;
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px;
	font-size: 15px;
}

#image {
	display: none;
}

.icon {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	color: white;
	display: inline-block;
}

.icon:hover,
#overlayToggle:hover,
button#saveDesign:hover {
	text-shadow: 1px 1px black !important;
	cursor: pointer;
}

.icon i {
	font-size: 40px;
}

.icon p {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 1200px) {
	.product {
		padding-top: 10px;
		width: 50%;
	}

	#accountForm {
		width: 50%;
		left: 25%;
		height: auto;
		padding-bottom: 10px;
	}
}

@media only screen and (max-width: 815px) {
	.product {
		width: 100%;
	}

	.ArBtn {
		width: 30%;
	}

	#accountForm {
		width: 90%;
		left: 5%;
		height: auto;
		padding-bottom: 10px;
	}

	#modelColourMenu,
	#presetMenu,
	#personalTextMenu,
	#saveDesignMenu {
		width: 60%;
	}

	#overlay2 {
		top: 10%;
	}
}

@media only screen and (max-width: 662px) {
	.ArBtn {
		width: 50%;
	}
}
