@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    margin: 0;
    height: 100%;
}

header {
    background-color: #19171c;
    height: 60px;
}

#menu {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}

#main{
    height: 100%;
    width:100%;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3px;
    background-color: #38aa82;
    margin: 7px 0;
}

#menu:hover {
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #19171c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Open Sans', sans-serif;
    color: #38aa82;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#logo {
    padding-top: 12px;
    float: left;
    width: 50%;
}

#logo img {
    float: left;
    margin-top: -5px;
    padding-left: 5px;
    width: 45px;
    height: 45px;
}

#logo h1 {
    padding-left: 10px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 100;
    color: #38aa82;
    float: left;
}

.headerIcons {
    margin-top: 15px;
    float: right;
    width: 20%;
}

.headerIcon {
    text-align: center;
    float: left;
    width: 33.3%;
}

.headerIcon i {
    color: #38aa82;
    font-size: 25px;
}

#overlay {
    position: absolute;
    top: 10px;
    background-color: #19171c;
    width: 200px;
    border-radius: 10px;
    left: 10px;
    padding-left: 10px;
}

#overlay p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: #38aa82;
}

.btn {
    display: block;
    margin: auto;
    margin-top:20px;
    background-color: #38aa82;
    width: 150px;
    border:0;
    border-radius: 5px;
    color: white !important;
}

.btn p {
    text-align: center;
    
}

.btn:hover {
    cursor: pointer;
    color: white;
}

#jscolor {
    border: 0;
}

.product {
    width: 25%;
    padding: 10px;
}

#productImage {
    margin: 0 auto;
    width: 450px;
    height: auto;
    display: block;
}

.ArBtn {
    width: 200px;
    text-decoration: none !important;
    background-color: #19171c;
    color: #38aa82;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 100;
    border-radius: 5px;
    text-align: center;
    padding-top: 6px;
    margin: 0 auto;
}

.ArBtn:hover{
    cursor: pointer;
    background-color: #38aa82;
    color: #19171c;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.fontSize{
    background-color: #38aa82;
    color: white !important;
    width: 40px;
    text-align: center;
    padding: 5px;
    display: inline-block;
}

.fontSize:hover{
    cursor: pointer;
}

#accountForm{
    display:none;
    position: absolute;
    vertical-align: middle;
    top:30%;
    left:35%;
    width: 30%;
    height: 40%;
    background-color: #19171c;
}

#closeForm{
    float:right;
    width: 20px;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-color: #38aa82;
    margin:0;
}

#closeForm:hover{
    cursor: pointer;
}

#accountForm h3{
    font-family: 'Open Sans', sans-serif;
    color: #38aa82;
    padding:0;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    width: 45%;
}

#accountForm h3:hover{
    cursor: pointer;
}


#registerInputs{
    margin:auto;
    width:50%;
}

.registerInput, .loginInput{
    margin-top:10%;
    width:100%;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
}

#loginInputs{
    display:none;
    margin:auto;
    width:50%;
}

.loginError{
    font-family: 'Open Sans', sans-serif;
    color:red;
    font-size: 10px;
}