body{
    padding: 0;
    margin:0;
}

header{
    background-color: gray;
    height: 60px;
}
#menu{
    float:left;
    padding-top: 10px;
    padding-left: 10px;
}
.bar1, .bar2, .bar3{
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 7px 0;
}

#menu:hover{
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
#logo{
    padding-top:12px;
    float:left;
    width:50%;
}

#logo h1{
    padding-left:10px;
    margin:0;
    font-family: Tahoma, Geneva, sans-serif; 
    font-size: 25px;
    font-weight: 100;
}

.headerIcons{
    margin-top: 20px;
    float:right;
    width:20%;
}
.headerIcon{
    text-align: center;
    float:left;
    width:50%;
}