@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    padding: 0;
    margin:0;
}

header{
    background-color: #19171c;
    height: 60px;
}
#menu{
    float:left;
    padding-top: 10px;
    padding-left: 10px;
}
.bar1, .bar2, .bar3{
    width: 30px;
    height: 3px;
    background-color:#38aa82;
    margin: 7px 0;
}

#menu:hover{
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #19171c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Open Sans', sans-serif;
    color: 	#38aa82;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
#logo{
    padding-top:12px;
    float:left;
    width:50%;
}

#logo img{
    float:left;
    margin-top:-5px;
    padding-left: 5px;
    width:45px;
    height: 45px;
}

#logo h1{
    padding-left:10px;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 100;
    color: 	#38aa82;
    float:left;
}

.headerIcons{
    margin-top: 15px;
    float:right;
    width:20%;
}
.headerIcon{
    text-align: center;
    float:left;
    width:50%;
}

.headerIcon i{
    color: #38aa82;
    font-size: 25px;
}

#productImage{
    width:800px;
    height: auto;
    display:block;
}

#ARpersonalise{
    width:300px;
    background-color: #38aa82;
    height: 50px;
    border-radius: 10px;
    padding: 5px;
}

#ARpersonalise:hover, #ARpersonalise p:hover{
    background-color: #19171c;
    color: #38aa82;
    border-radius: 10px;
}

#ARpersonalise p{
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
}

.a-camera-static{
    width:500px;
}